@use './components/main' as main;
@use './components/variables' as *;

@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', sans-serif;
    color: $font-color;
    background-color: $background-color;
}

* {
    box-sizing: border-box;
    margin: 0;
}