@use './variables' as *;

form {
    columns: 3;
    margin: 64px;
    gap: 20px;
    label {
        padding-left: 24px;
    }
    input, select {
        display: block;
        width: 100%;
        padding: 16px 24px;
        background: linear-gradient(0deg, $accent-main, $accent-secondary);
        border: none;
        outline: none;
        border-radius: 24px;
        color: $font-color;
        margin-bottom: 24px;
    }
    .c4-wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        input{ 
            margin-bottom: 0;
        }
    }
    // input::-webkit-outer-spin-button,
    // input::-webkit-inner-spin-button {
    //     -webkit-appearance: none;
    //     margin: 0;
    // }

    // /* Firefox */
    // input[type=number] {
    //     -moz-appearance: textfield;
    // }
}